<br>
<center><h2>Welcome <%= @current_user.name %></h2></center>
<fieldset>
	<center>
<h3>Your current Account Details are </h3>
<h3><p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
	<strong>Role</strong>
	<%= @user.type %>
</p>

<!-- <p>
	<strong>Month wise investment</strong>
	<%= @user.type %>
</p>

<p>
  <strong>Total Investment:</strong>
  <%= @user.salary %>
</p> -->

<p>
  <strong>Total amount:</strong>
  <%= @user.total_amount %>
</p>
<p>
  <strong>Salary:</strong>
  <%= @user.salary %>
</p>
<p>
  <strong>Total Investment:</strong>
  <%= @user.investments.map{|e|e.total_inv} %>
</h2>
<%= link_to 'Edit', edit_user_path(@user) %><br>
<%= link_to 'Investments', investments_path , id: @user.id %><br>

<%= link_to 'Logout', users_path %>
</center></fieldset>